@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@import '../client/styles/prism-tomorrow.css';
@custom-variant dark (&:where(.dark, .dark *));

::view-transition-old(root),
::view-transition-new(root) {
  /* جلوگیری از انیمیشن پیش‌فرض مرورگر */
  animation: none;
  /* میکس‌بلند برای اینکه محتوا روی هم نیفتد */
  mix-blend-mode: normal;
}

/* لایه جدید باید بالای لایه قدیمی باشد */
::view-transition-new(root) {
  z-index: 2147483646;
}

@keyframes toggleAnimation {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.3);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.animate-toggle {
  animation: toggleAnimation 0.3s ease-in-out;
}

:root {
  --background: #ffffff;
  --foreground: var(--color-gray-900);
  --primary: #3b82f6;
}

.dark {
  --background: var(--color-gray-950);
  --foreground: #ededed;
  --primary: #60a5fa;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
}
